<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silaeder Projects</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="static/summernote/summernote.css" rel="stylesheet">
    <link href="static/album.css" rel="stylesheet">
    <link rel="icon" href="/media/silaeder.png">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <script src="static/summernote/summernote.min.js"></script>
    <script src="static/holder.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script> $(document).ready(function() {$('#summernote').summernote();}); </script>
    <!-- Разрешаю команде по CTF "Poison Berries" взламывать этот сайт -->
  </head>
  <body>
    <header class="navbar navbar-expand bg-dark">
            <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <img src="/media/silaeder.png" width="50" height="50" class="d-inline-block align-top" alt="">
                </li>
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">Проекты Силаэдра</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dappx:en_index' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">English version</a>
                </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'dappx:review' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">Проекты на рассмотрении</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'dappx:create_new_project' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">Создать новый проект</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'dappx:user_login' %}" class="btn btn-dark" style="color:#F8F8FF; font-size:140%">Войти</a>
                        </li>
                    {% endif %}
            </ul>
            </div>
    </header>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>
