{% extends "dappx/base.html" %}
{% block body_block %}
<section class="jumbotron jumbotron-fluid text-center" style="background-color:rgba(252, 252, 252 ,0.8)">
   <div class="container">
      <h1 class="jumbotron-heading">Silaeder projects</h1>
      <p class="lead text-muted">Schoolchildren's projects <a href="http://1303fm.org/">"Silaeder" classes</a>.</p>
   </div>
</section>
<div class="jumbotron jumbotron-fluid text-center" style="background-color:rgba(252, 252, 252 ,0.8)">
   <div class="row justify-content-center">
      <div style="width:100%">
         <form class="card card-sm" method="POST">
           {% csrf_token %}
            <div class="card-body row no-gutters align-items-center">
               <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
               </div>
               <!--end of col-->
               <div class="col">
                  <input class="form-control form-control-lg form-control-borderless" type="search" name="search" style="font-size:14px"placeholder="Find a project by key words">
               </div>
               <!--end of col-->
               <div class="col-auto">
                  <button class="btn btn-outline-dark" type="submit" style="font-size:14px">search</button>
               </div>
               <!--end of col-->
            </div>
         </form>
      </div>
      <!--end of col-->
   </div>
   <div class="row justify-content-center">
      <div style="width:100%">
        <form class="card card-sm"method="POST" name="direction">
          {% csrf_token %}
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
              <label style="font-size:14px">Filter by direction:</label>
            </div>
            <div class="col">
              <select class="form-control form-control-lg form-control-borderless" style="font-size:14px;" name="direction">
                <option>Все</option>
                <option>Computer Science</option>
                <option>Биоинформатика</option>
                <option>Биология</option>
                <option>География</option>
                <option>История</option>
                <option>Лингвистика</option>
                <option>Литература</option>
                <option>Математика</option>
                <option>Медицина</option>
                <option>Науки о Земле</option>
                <option>Обществознание</option>
                <option>Психология</option>
                <option>Робототехника</option>
                <option>Техника</option>
                <option>Физика</option>
                <option>Химия</option>
                <option>Экология</option>
                <option>Экономика</option>
              </select>
            </div>
            <div class="col-auto">
              <input type="submit" class="btn btn-outline-dark" style="font-size:14px" value="filter">
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
<div class="album py-5 style="fdarkont-size:17px"" style="background-color:rgba(252, 252, 252 ,0.8)">
<div class="album py-5 style="font-size:17px"" style="background-color:rgba(252, 252, 252 ,0.8)">
<div class="container">
   {% for i in projects %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" style="height: 100%; width: 100%" src="/media/{{ i.project_picture }}">
          <div class="card-body">
              <p class="card-text" style="font-size:14px">name:{{ i.project_name }}</p>
              <hr>
              <p class="card-text" style="font-size:14px">direction:{{ i.project_direction }}</p>
              <p class="card-text" style="font-size:14px">Short description: {{ i.project_short }}</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <a href="http://127.0.0.1:8000/dappx/en_project/{{ i.project_name }}/" class="btn btn-outline-dark" style="font-size:14px">view</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
</div>
</div>
{% endblock %}
