{% extends "dappx/base.html" %}
{% block body_block %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="jumbotron">
      <h1>Зарегистрируйте ваш проект здесь</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" name="project_name" placeholder="Название проекта" style="font-size:14px">
            <input type="text" class="form-control" name="project_creators" placeholder="Авторы" style="font-size:14px">
            <label for="sel1" style="font-size:14px">Направление вашего проекта:</label>
            <select class="form-control" id="sel1" name="project_direction" style="font-size:14px">
                <option>Computer Science</option>
                <option>Биоинформатика</option>
                <option>Биология</option>
                <option>География</option>
                <option>История</option>
                <option>Лингвистика</option>
                <option>Литература</option>
                <option>Математика</option>
                <option>Медицина</option>
                <option>Науки о Земле</option>
                <option>Обществознание</option>
                <option>Психология</option>
                <option>Робототехника</option>
                <option>Техника</option>
                <option>Физика</option>
                <option>Химия</option>
                <option>Экология</option>
                <option>Экономика</option>
             </select>
             <label for="id_project_picture" style="font-size:14px">Картинка вашего проекта(желательно квадратная):</label>
             <input type="file" name="project_picture" accept="image/*" style="font-size:14px">
             <label style="font-size:14px">Текст вашего проекта:</label>
             {{ project_form.project_text }}
             <input type="submit" class="btn btn-outline-success" style="font-size:12px" value="Создать новый проект">
        </form>
    </div>
  </div>
</div>
{% endblock %}
