{% extends "dappx/base.html" %}
{% block body_block %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="jumbotron">
        <p style="font-size:17px">Название проекта:{{ project.project_name }}</p>
        <p style="font-size:17px">Направление:{{ project.project_direction }}</p>
        <p style="font-size:17px">Авторы проекта:{{ project.project_creators }}</p>
        <br><br>
        <br>
        <p style="font-size:17px">Постановка задачи:</p>
        <p class="card-text">{{ project.project_text_task|safe }}</p>
        <p style="font-size:17px">Методы и инструменты:</p>
        <p class="card-text">{{ project.project_text_methods|safe }}</p>
        <p style="font-size:17px">Результаты:</p>
        <p class="card-text">{{ project.project_text_results|safe }}</p>
        <p style="font-size:17px">Обсуждение:</p>
        <p class="card-text">{{ project.project_text_discussions|safe }}</p>
        <p style="font-size:17px">Выводы:</p>
        <p class="card-text">{{ project.project_text_conclusions|safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
