{% extends "dappx/base.html" %}
{% block body_block %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="jumbotron">
        <p style="font-size:17px">Название проекта:{{ project.project_name }}</p>
        <p style="font-size:17px">Направление:{{ project.project_direction }}</p>
        <p style="font-size:17px">Авторы проекта:{{ project.project_creators }}</p>
        <br><br>
        <br>
       <p class="card-text">{{ project.project_text|safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
