{% extends "dappx/base.html" %}
{% block body_block %}
<section class="jumbotron jumbotron-fluid text-center" style="background-color:rgba(252, 252, 252 ,0.8)">
   <div class="container">
      <h1 class="jumbotron-heading">Проекты на рассмотрении</h1>
   </div>
</section>
<div class="album py-5 style="font-size:17px"" style="background-color:rgba(252, 252, 252 ,0.8)">
   <div class="container">
      {% for i in projects %}
      {% if i.project_state == '0' %}
      <div class="col-md-3">
         <div class="card mb-4 shadow-sm">
            <img class="card-img-top" style="height: 225px; width: 100%" src="{{ i.project_picture }}">
            <div class="card-body">
               <p class="card-text" style="font-size:14px">Название проекта:{{ i.project_name }}</p>
               <p class="card-text" style="font-size:14px">Направление проекта:{{ i.project_direction }}</p>
               <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                     <a href="http://127.0.0.1:8000/dappx/project/{{ i.project_name }}/" class="btn btn-outline-dark">Смотреть</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endif %}
      {% endfor %}
   </div>
</div>
{% endblock %}
